<h1>About Jenkcho</h1>

Jenkcho is a student in the Stride Center Coding 99 class for the Fall 2017 session.
Jenkcho enjoys resting, reading, and writing in any free time.
This application is intended to be a Pinterest clone to practice web coding.