<div class="jumbotron center">
<h1>Welcome to Pinterested!</h1>
<p>A Pinterest Clone By Jenkcho</p>

<%= link_to "Login", root_path, class:"btn btn-default" %>
<%= link_to "Join", root_path, class:"btn btn-primary" %>

</div>